<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="drawrite.booknet">

    <!-- Permissions needed -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_custom"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- allowBackup: allows the backup of the app configs which user spends time in doing in a device and is reflected in when user logs in into another device -->

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchableActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"  />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".OLBookListActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".BookDetailActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".BookDetailActivityTabbed"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

        </activity>


        <activity android:name=".ViewBookListActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".TestViewMentionsListActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

        </activity>

        <!-- Points to searchable activity so the whole app can invoke search. -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchableActivity" />
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@menu/main_menu" />
    </application>

</manifest>